* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "MS Pゴシック",
    "MS PGothic", farial, helvetica, clean, sans-serif;
}


body {
  background-image: url(../img/bodybg.png);
  background-position: center center;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "MS Pゴシック",
    "MS PGothic", farial, helvetica, clean, sans-serif;
}

pre 
{
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "MS Pゴシック",
    "MS PGothic", farial, helvetica, clean, sans-serif;
}
input[type=range] {
  height: 13px;
  -webkit-appearance: none;
  width: calc(100% - 15px);
  background-color: rgba(255, 255, 255, 0);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #c1bbaa;
  border-radius: 1px;
  border: 1px solid #73695a;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #73695a;
  border: 1px solid #73695a;
  height: 20px;
  width: 6px;
  border-radius: 1px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c1bbaa;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #c1bbaa;
  border-radius: 1px;
  border: 1px solid #73695a;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(193, 187, 170, 0.5);
  border: 1px solid #73695a;
  height: 28px;
  width: 4px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #c1bbaa;
  border: 1px solid #73695a;
  border-radius: 1px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #c1bbaa;
  border: 1px solid #73695a;
  border-radius: 1px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px rgba(193, 187, 170, 0.5);
  border: 1px solid #73695a;
  height: 28px;
  width: 5px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0);
}
.hidden {
  display: none !important;
}
.player__controls {
  width: calc(100% + 3px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.player__controls a svg {
  fill: #165652;
  display: inline-block;
  float: left;
  width: 14px;
  margin-left: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
  transition: all 300ms;
}
.player__controls a.active svg {
  fill: #469662;
  transition: all 300ms;
}
.player__controls a:hover svg {
  fill: #469662;
  transition: all 300ms;
}
.player__controls:after {
  content: ' ';
  display: block;
  clear: both;
}
.player__controlblock {
  line-height: 30px;
  display: inline-block;
  width: 35px;
  color: #111;
  text-decoration: none;
  margin-top: 4px;
  box-shadow: 2px 2px 2px 1px #73695a;
  border: 3px solid #c1bbaa;
  border-radius: 1px;
  background-color: rgba(193, 187, 170, 0.5);
  position: relative;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
.player__controlblock:nth-of-type(2) {
  width: calc(100% - 34px);
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.player__controlblock:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  box-shadow: inset 0px 0px 2px #000000;
  pointer-events: none;
}
.player__music {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100px;
}
.player__music ul {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
.player__music ul a {
  display: inline-block;
  padding-left: 4px;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: #165652;
  box-sizing: border-box;
  width: 100%;
}
.player__music ul a span {
  display: inline-block;
  float: right;
  margin-right: 4px;
}
.player__music ul a.active {
  background-color: rgba(70, 150, 100, 0.4);
  color: #fff;
}
.player__music ul a:hover {
  background-color: rgba(70, 150, 100, 0.4);
  color: #fff;
}
.player__music::-webkit-scrollbar {
  width: 8px;
}
.player__music::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  width: 6px;
}
.player__music::-webkit-scrollbar-thumb {
  background-color: #d1cbba;
}
.player__smalltext {
  font-size: 8px;
  color: #111;
  text-align: center;
  width: calc(100% + 3px);
  line-height: 8px;
  display: inline-block;
  text-decoration: none;
  margin-top: 0px;
  border-radius: 1px;
  background-color: rgba(193, 187, 170, 0.5);
  position: relative;
  font-weight: bold;
}
.layersmenu {
  width: calc(100% + 3px);
  line-height: 30px;
  display: inline-block;
  color: #111;
  text-decoration: none;
  margin-top: 4px;
  box-shadow: 2px 2px 2px 1px #73695a;
  border: 3px solid #c1bbaa;
  border-radius: 1px;
  background-color: rgba(193, 187, 170, 0.5);
  position: relative;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  transition: all 300ms;
}
.layersmenu:after {
  content: ' ';
  display: block;
  clear: both;
}
.layersmenu:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  box-shadow: inset 0px 0px 2px #000000;
  pointer-events: none;
}
.layersmenu a {
  display: inline-block;
  width: calc(50% + 0px);
  float: left;
  height: 30px;
  border-bottom: 1px solid #73695a;
  border-right: 1px solid #73695a;
  box-sizing: border-box;
  position: relative;
}
.layersmenu a:hover:before {
  content: ' ';
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(115, 105, 90, 0.5);
}
.layersmenu a.active:before {
  content: ' ';
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(115, 105, 90, 0.5);
}
.buttonsmenu {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.buttonsmenu > li {
  display: block;
  position: relative;
}
.buttonsmenu > li > a {
  line-height: 30px;
  display: inline-block;
  width: calc(100% + 3px);
  color: #111;
  text-decoration: none;
  margin-top: 4px;
  box-shadow: 2px 2px 2px 1px #73695a;
  border: 3px solid #c1bbaa;
  border-radius: 1px;
  background-color: rgba(193, 187, 170, 0.5);
  position: relative;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  transition: all 300ms;
}
@media screen and (max-width: 980px) {
  .buttonsmenu > li > a {
    line-height: 100px;
  }
}
@media screen and (max-width: 980px) {
  .buttonsmenu > li > a {
    font-size: 18px;
  }
}
.buttonsmenu > li > a svg {
  fill: #165652;
  display: inline-block;
  float: left;
  width: 18px;
  margin-left: 5px;
  margin-top: 6px;
}
@media screen and (max-width: 980px) {
  .buttonsmenu > li > a svg {
    margin-top: 40px;
  }
}
.buttonsmenu > li > a:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  box-shadow: inset 0px 0px 2px #000000;
  pointer-events: none;
}
.buttonsmenu > li > a:hover svg {
  fill: #469662;
  transition: all 300ms;
}
.buttonsmenu > li > div {
  line-height: 30px;
  display: inline-block;
  width: calc(100% + 3px);
  color: #111;
  text-decoration: none;
  margin-top: 4px;
  box-shadow: 2px 2px 2px 1px #73695a;
  border: 3px solid #c1bbaa;
  border-radius: 1px;
  background-color: rgba(193, 187, 170, 0.5);
  position: relative;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
.buttonsmenu > li > div svg {
  fill: #165652;
  display: inline-block;
  float: left;
  width: 18px;
  margin-left: 5px;
  margin-top: 6px;
}
.buttonsmenu > li > div:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  box-shadow: inset 0px 0px 2px #000000;
  pointer-events: none;
}
.maincontainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 3px);
  margin-top: 3px;
  flex: 1;
}
.maincontainer__left {
  width: 180px;
  box-shadow: 2px 2px 2px 1px #73695a;
  height: 100%;
  min-height: calc(100vh - 6px);
  border: 3px solid #c1bbaa;
  position: relative;
  border-radius: 2px;
  background-color: rgba(193, 187, 170, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.maincontainer__left_top {
  width: 100%;
  height: 300px;
}
.maincontainer__left_bottom {
  width: 100%;
  height: auto;
}
.maincontainer__left:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  pointer-events: none;
  box-shadow: inset 0px 0px 2px #000000;
}
.maincontainer__right {
  width: calc(100% - 180px);
  min-height: calc(100vh - 6px);
  height: 100%;
  background-color: rgba(151, 170, 145, 0.3);
  position: relative;
  display: none;
}
.maincontainer__right.active {
  display: block;
}
.fixedlinks {
  position: absolute;
  bottom: 3px;
  left: 2px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  height: 80px;
  padding-right: 2px;
  f
}
.fixedlinks li {
  display: inline-block;
}
.fixedlinks li a {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 2px solid #c1bbaa;
  border-radius: 2px;
  background-color: rgba(193, 187, 170, 0.5);
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 1px #9b9182;
  margin-right: 1px;
}
.fixedlinks li a span {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: #111;
  z-index: 20;
  font-size: 7.5px;
  left: 1pt;
}
.fixedlinks li a:after {
  content: ' ';
  display: block;
  width: 80px;
  height: 80px;
  background-color: rgba(193, 187, 170, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  pointer-events: none;
  background-image: url(../img/bbounce.gif);
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.fixedlinks_dt {
  position: relative;
  bottom: 3px;
  left: 2px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  height: 80px;
  padding-right: 2px;
}
.fixedlinks_dt li {
  display: inline-block;
}
.fixedlinks_dt li a {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 2px solid #c1bbaa;
  border-radius: 2px;
  background-color: rgba(193, 187, 170, 0.5);
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 1px #9b9182;
  margin-right: 1px;
}
.fixedlinks_dt li a span {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: #111;
  z-index: 20;
  font-size: 7.5px;
}
.fixedlinks_dt li a:after {
  content: ' ';
  display: block;
  width: 80px;
  height: 80px;
  background-color: rgba(193, 187, 170, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  pointer-events: none;
  background-image: url(../img/bbounce.gif);
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.suboptions {
  position: absolute;
  width: 200px;
  background-color: #f1f1f1;
  list-style: none;
  padding: 0px;
  margin: 0px;
  z-index: 90;
  top: 0px;
  margin-top: 10px;
  left: 0px;
  margin-left: 178px;
  display: none;
  box-shadow: 2px 2px 2px 1px rgba(115, 105, 90, 0.8);
  border-right: 2px;
}
.suboptions.active {
  display: block;
}
.suboptions li a {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  line-height:37px;
  color: #111;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 300ms;
  background-color: #eee6d1;
  border-bottom: 1px solid #73695a;
  font-size:11px;
}
.suboptions li a.disabled {
  background-color: #ccc;
}
.suboptions li a.disabled:hover {
  background-color: #ccc;
  transition: all 300ms;
}
.suboptions li a:hover {
  background-color: #c1baa7;
  transition: all 300ms;
}
.window {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  opacity: 1;
}
.window.minimized {
  transition: all 400ms !important;
  left: 250px;
  bottom: auto !important;
  top: calc(100% - 83px) !important;
  right: auto !important;
  height: 80px !important;
  width: 80px !important;
  overflow: hidden;
  box-shadow: 2px 2px 2px 1px #9b9182;
}
.window.minimized:after {
  content: ' ';
  display: block;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 0, 255, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  pointer-events: none;
  background-image: url(../img/min.png);
  background-size: cover;
}
.window.minimized .window__header {
  opacity: 0.5;
  height: 80px;
}
.window.minimized .window__header .window__close {
  width: 80px;
  height: 80px;
}
.window.minimized .window__content {
  opacity: 0.1;
}
.window.minimized .window__mintext {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  font-size: 10px;
  z-index: 100;
}
.window__resize {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 0, 255, 0);
  z-index: 10;
}
@media screen and (max-width: 980px) {
  .window__resize {
    z-index: -100;
  }
}
.window__resize_br {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}
.window__resize_bl {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}
.window__resize_tr {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}
.window__mintext {
  display: none;
}
.window__header {
  height: 26px;
  cursor: move;
  z-index: 10;
  color: #000;
  width: 100%;
  box-shadow: 2px 2px 2px 1px #9b9182;
  border: 3px solid #c1bbaa;
  border-radius: 2px;
  background-color: rgba(193, 187, 170, 0.5);
  position: relative;
}

.window__header:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  box-shadow: inset 0px 0px 2px #000000;
}

.window__content {
  box-shadow: 2px 2px 2px 1px #9b9182;
  border: 3px solid #c1bbaa;
  border-radius: 2px;
  background-color: rgba(193, 187, 170, 0.5);
  background-color: #afb2c3;
  text-align: left;
  font-size: 13px;
  color: #000;
  position: relative;
  padding: 6px;
}
.window__content img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}
.window__content:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  box-shadow: inset 0px 0px 2px #000000;
  pointer-events: none;
}
.window_news .window__content {
  background-color: rgba(112, 130, 146, 0.5);
  padding: 20px;
}
.window__close {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: left;
  position: relative;
  box-shadow: inset 0px 0px 2px #000000;
  cursor: pointer;
}
.window__close i {
  display: block;
  position: absolute;
  left: 5px;
  top: 8px;
  width: 10px;
  height: 3px;
  border: 1px solid #666;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}
.window__dot {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: right;
  position: relative;
  box-shadow: inset 0px 0px 2px #000000;
}
.window__dot i {
  display: block;
  position: absolute;
  left: 7px;
  top: 7px;
  width: 5px;
  height: 5px;
  border: 1px solid #666;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}
.window__fullscreen {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: right;
  position: relative;
  box-shadow: inset 0px 0px 2px #000000;
  cursor: pointer;
}
.window__fullscreen i {
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 14px;
  height: 14px;
  border: 1px solid #666;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}
.dhide {
  display: none;
}
@media screen and (max-width: 980px) {
  .mobhide {
    display: none;
  }
  .dhide {
    display: block;
  }
  .fixedlinks {
    display: none;
  }
  .maincontainer {
    display: block;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: auto;
    min-height: auto;
    margin-top: 3px;
    flex: 1;
  }
  .maincontainer__left {
    width: calc(100% - 3px);
    box-shadow: 2px 2px 2px 1px #73695a;
    height: auto;
    min-height: auto;
    border: 3px solid #c1bbaa;
    position: relative;
    border-radius: 2px;
    background-color: rgba(193, 187, 170, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .maincontainer__left_top {
    width: 100%;
    height: auto;
  }
  .maincontainer__left_bottom {
    width: 100%;
    height: auto;
  }
  .maincontainer__left:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    pointer-events: none;
    box-shadow: inset 0px 0px 2px #000000;
  }
  .maincontainer__right {
    width: 100%;
    min-height: auto;
    height: auto;
    background-color: rgba(151, 170, 145, 0.3);
    position: relative;
    display: none;
  }
  .maincontainer__right.active {
    display: block;
  }
  .window {
    position: relative;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    min-width: 200px;
    max-width: 500px;
    left: 0px !important;
    top: 0px !important;
  }
  .window.minimized {
    transition: all 400ms !important;
    left: 3px;
    bottom: auto !important;
    top: calc(100% - 83px) !important;
    right: auto !important;
    height: 80px !important;
    width: 80px !important;
    overflow: hidden;
    box-shadow: 2px 2px 2px 1px #9b9182;
    min-width: 80px !important;
  }
  .window__header {
    height: 26px;
    cursor: move;
    z-index: 10;
    color: #000;
    width: 100%;
    box-shadow: 2px 2px 2px 1px #9b9182;
    border: 3px solid #c1bbaa;
    border-radius: 2px;
    background-color: rgba(193, 187, 170, 0.5);
    position: relative;
  }
  .window__header:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    box-shadow: inset 0px 0px 2px #000000;
  }
  .window__content {
    box-shadow: 2px 2px 2px 1px #9b9182;
    border: 3px solid #c1bbaa;
    border-radius: 2px;
    background-color: rgba(193, 187, 170, 0.5);
    background-color: #afb2c3;
    text-align: left;
    font-size: 10px;
    color: #000;
    position: relative;
    padding: 6px;
  }
  .window__content:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    box-shadow: inset 0px 0px 2px #000000;
    pointer-events: none;
  }
  .window__close {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: left;
    position: relative;
    box-shadow: inset 0px 0px 2px #000000;
    cursor: pointer;
  }
  .window__close i {
    display: block;
    position: absolute;
    left: 5px;
    top: 8px;
    width: 10px;
    height: 3px;
    border: 1px solid #666;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  }
  .window__dot {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
    position: relative;
    box-shadow: inset 0px 0px 2px #000000;
  }
  .window__dot i {
    display: block;
    position: absolute;
    left: 7px;
    top: 7px;
    width: 5px;
    height: 5px;
    border: 1px solid #666;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  }
  .window__fullscreen {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
    position: relative;
    box-shadow: inset 0px 0px 2px #000000;
  }
  .window__fullscreen i {
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 14px;
    height: 14px;
    border: 1px solid #666;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  }
}
